body{
    margin: 0;
}
/*NAV BAR*/
.navBar1{
    background-color: black;
    height: 100px;
}

.logo{
    display: inline-block;
    width: 100px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px 40px;
    height: 100px;
    color: white;
}
.links{
    position: absolute;
    right: 100px;
    display: inline-block;
    color: white;
}
button{
    margin-left: 70px;
    font-size: 15px;
    color: white;
    background-color: rgb(22, 51, 94);
    border: 5px;
    border: none;
    height: 30px;
}

li{
    padding-left:70px ;
    display: inline-block;
}
li a{
    text-decoration: none;
    color: rgb(85, 58, 118);
}
li:hover{
    color: rgba(0, 255, 251, 0.611);
    font-size: 18px;
    transition-duration: 0.75s;
    text-decoration: wavy;
}
/*greet*/
img{
    width: 170px;
    padding-left: 120px;
    height: 120px;
    position: relative;
    bottom: 10px;
    
}
.greet{
    font-size: 40px;
    color: rgb(131, 18, 80);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
#des{
    font-size: 25px;
    color: rgb(255, 128, 0);
    padding-left: 250px;
}
/*card*/
.card{
    margin-left:40px ;
    display: inline-block;
    width: 500px;
    background-color: rgba(70, 39, 120, 0.296);
    height: 270px;
    position: relative;
    left: 200px;
}
.rest_pic{
    width: 280px;
    height: 128px;
    position: relative;
    right: 60px;
    top: 3px;
}
.logic{
    color: rgb(11, 23, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logic2{
    font-size: 24px;
    background-color: aliceblue;
    width: fit-content;
    padding: 0 20px;
    position: relative;
    left: 90px;
    color: rgb(12, 9, 60);
}
#heading{
    padding-left:20px ;
}
.details{
    font-size: 16px;
    padding-left: 20px;
    color:rgb(3, 1, 41); ;
}
/*footer*/
.footer{
    background-color:rgb(29, 29, 29);
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0px;
    margin-top: 40px;
}
.services_1{
    display: block;
    color: rgb(46, 80, 158);
    position: relative;
    text-decoration: none;
}

.services_1 img{
    position: relative;
    right: 100px;
    top: 1px;
    width: 20px;
    height: 20px;
    padding-bottom: 1px;
}
.adress{
    position: relative;
    top: 10px;
    color: rgba(255, 255, 255, 0.375);
    font-size: 18px;
}
.footer_1 p{
    color: rgba(255, 255, 255, 0.564);    
    font-size: 14px;
}
.footer_1{
    display: inline-block;
    padding: 80px 80px;
    position: relative;
    bottom: 72px;
    color: rgba(255, 255, 255, 0.375);
}
.lorem{
    width: 370px;
    color: rgba(255, 255, 255, 0.564);
    font-size: 14px;
}
.para{
    position: relative;
    bottom:46px;
}
/*marquee*/
.marquee{
    width: 100%;
    background-color: rgb(31, 20, 50);
    margin-bottom: 30px;
}
.text_animate{
    font-size: 70px;
    color: whitesmoke;
    gap: 10;
}
.text{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

  /*membersship*/

.membership{
  width: 400px;
  background-color: rgba(77, 207, 209, 0.162);
  display: inline-block;
  padding: 30px;
  margin-left: 40px;
}
.membership:hover{
    background-color:rgba(18, 83, 148, 0.486); ;
}
/*eyes*/
.ball{
    width: 180px;
    height: 20px;
    display: inline-block;
    position: relative;
    bottom: 120px;
    right: 0px;

    transform: rotate(45deg);

}
.bal{
    background-color: rgb(51, 23, 67);
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.ball_1{
    transform: rotate(-180deg);
    position: absolute;
    left: 382px;
    top:300px;
}
.balls{
    display:inline-block;

}
.B{
    position: absolute;
    top:302px;
    left: 397px;
    height: 10px;
    width: 60px;
    background-color:rgb(51, 23, 67) ;
}
.anime{
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: antiquewhite;
    position: relative;
    left: 200px;
    font-size: 50px;
    bottom: 100px;
}